body {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    font-family: sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.center {
    border: 3px solid #000;
    padding: 3%;
    transition: .3s;
    background: #fff;
}

.center:hover {
    border-radius: 10%;
}

.main-title {
    margin-bottom: 10%;
}

.color-placeholder {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.color-placeholder p {
    margin-right: .5vw;
}

#change-btn {
    height: 3.5vh;
    background-color: #fff;
    border: none;
    font-size: 14pt;
    transition: .3s;
    cursor: pointer;
}

#change-btn:hover {
    background-color: #000;
    color: #fff;
    border-radius: 5%;
}